<div class="overlay">
  <form>

    <div class="con">
      <header class="head-form">
        <h2>Meraki</h2>
        <p>Ingrese su usuario y contraseña.</p>
      </header>
      <br>

      <div class="field-set">

        <span class="input-item">
          <i class="fa fa-user-circle"></i>
        </span>
        <input class="form-input" id="txt-input" type="text" placeholder="Nombre de usuario" required>

        <br>


        <span class="input-item">
          <i class="fa fa-key"></i>
        </span>
        <input class="form-input" type="password" placeholder="Password" id="pwd" name="Contraseña" required>

        <span>
          <i class="fa fa-eye"  type="button" id="eye"></i>
        </span>

        <br>

        <button class="log-in"> Acceder </button>

      </div>

      <div class="other">
        <a class="btn submits frgt-pass">¿Ólvido su contraseña?</a>

        <a href="login/registro" routerLink='' class="btn submits sign-up">Registrarse
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>

      </div>

    </div>

  </form>
</div>
