<div class="container">
  <h1 class="text-center">Detalle Conductores</h1>
  <div class="card mb-3">
    <div class="card-body" *ngFor="let usuario of detalleConductor">
        <div class="row">
        <strong class="col-md-4 text-center">Id<h5 class="card-title text-center">{{ usuario.Id }}</h5></strong>
        <strong class="col-md-4 text-center">Nombre de usuario<h5 class="card-title text-center">{{ usuario.UserName }} </h5></strong>
        <strong class="col-md-4 text-center">Celular<h5 class="card-title text-center">3209868567</h5></strong>
      </div>

      <div class="row">
        <strong class="col-md-4 text-center">Tipo de documento<h5 class="card-title text-center">{{ usuario.NombreDoocumento }} </h5></strong>
        <strong class="col-md-4 text-center">Número de documento<h5 class="card-title text-center">{{ usuario.NumeroDocumento }} </h5></strong>
        <strong class="col-md-4 text-center">Rol<h5 class="card-title text-center">{{ usuario.NombreRol }} </h5></strong>
      </div>

      <div class="row">
        <strong class="col-md-4 text-center">Genero<h5 class="card-title text-center">{{ usuario.NombreGenero }} </h5></strong>
        <strong class="col-md-4 text-center">Correo<h5 class="card-title text-center">{{ usuario.Email }} </h5></strong>
        <strong class="col-md-4 text-center">Dirección<h5 class="card-title text-center">{{ usuario.Direccion }} </h5></strong>
      </div>

      <hr>

      <div class="row">
        <strong class="col-md-3 text-center">Nombre<h5 class="card-title text-center">{{ usuario.Nombre }} </h5></strong>
        <strong class="col-md-3 text-center">Apellido<h5 class="card-title text-center">{{ usuario.Apellido }} </h5></strong>
        <strong class="col-md-3 text-center">Fecha de inicio<h5 class="card-title text-center">{{ usuario.FechaInicio }} </h5></strong>
        <strong class="col-md-3 text-center">Fecha fin<h5 class="card-title text-center">{{ usuario.FechaFin }} </h5></strong>
      </div>

      <div class="row">
        <strong class="col-md-12 text-center">Foto<img src="assets/img/fondo1.jpg" class="card-title"></strong>
      </div>

        <div align="center">
        <button class="btn btn-white"><a href="conductores/ListarConductoresVehiculos/{{usuario.CodigoV  }}" style="color: rgba(151,0,255,1);">Volver</a></button>
      </div>
    </div>
  </div>
</div>
