<div class="row">
  <div class="col-md-6" align="center">
  <h1 style="color: rgba(151,0,255,1);">Listado Conductores</h1>
</div>
<div class="col-md-6" align="center">
</div>
  <div class="scroll">

      <table>
  <thead>
    <tr>
      <th scope="col">Tipo de usuario</th>
      <th scope="col">Genero</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Nombres</th>
      <th scope="col">Tipo de documento</th>
      <th scope="col">Número de documento</th>
      <th scope="col">Editar</th>
      <th scope="col">Detalle</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">Conductor</td>
      <td class="text-center">Hombre</td>
      <td class="text-center">20 enero de 2020</td>
      <td class="text-center">Armando Gruas</td>
      <td class="text-center">Pasaporte</td>
      <td class="text-center">1049493</td>
      <td class="text-center detalle"><a href="conductores/editar" style="color: rgb(255, 255, 255)"><i class="fa fa-pencil-square-o"></i></a></td>
      <td class="text-center detalle"><a href="conductores/detalle" style="color: rgb(255, 255, 255)"><i class="fa fa-eye"></i></a></td>
      <td><button class=" text-center btn btn-outline-success ">activo</button></td>
    </tr>
  </tbody>
</table>

    </div>
</div>
