<div class="row">
  <div class="col-md-6" align="center">
  <h1 style="color: rgba(151,0,255,1);">Listado Conductores</h1>
</div>
<div class="col-md-6" align="center">
</div>
  <div class="scroll">

      <table>
  <thead>
    <tr>
      <th scope="col">Tipo de usuario</th>
      <th scope="col">Genero</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Nombres</th>
      <th scope="col">Tipo de documento</th>
      <th scope="col">Número de documento</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conductor of listarConductor">
      <td class="text-center">{{ conductor.NombreRol }}</td>
      <td class="text-center">{{ conductor.NombreGenero }}</td>
      <td class="text-center">{{ conductor.FechaInicio }}</td>
      <td class="text-center">{{ conductor.Nombre + ' ' + conductor.Apellido }}</td>
      <td class="text-center">{{ conductor.NombreDoocumento }}</td>
      <td class="text-center">{{ conductor.NumeroDocumento }}</td>
      <td class="text-center detalle"><a href="conductores/detalle/{{ conductor.Id }}" style="color: rgb(255, 255, 255)"><i class="fa fa-eye"></i></a></td>
    </tr>
  </tbody>
</table>

    </div>
</div>
