
  <form>
    <div class="contact-form row">

      <h1 align="center" style="color: blueviolet;">Pedir servicio</h1>

      <!--Nombre persona que recibe-->

      <div class="form-field col-lg-6">
        <input type="hidden" name="Id">
        <input class="input-text" type="text" name="NombreRecibe" formControlName="NombreRecibe">
        <label for="NombreRecibe" class="label">Nombre de la persona que recibe</label>
      </div>

      <!--Celular persona que recibe-->

      <div class="form-field col-lg-6">
        <input class="input-text" type="number" name="PersonaRecibe" formControlName="PersonaRecibe">
        <label for="PersonaRecibe" class="label">Celular de la persona que recibe</label>
      </div>

      <!--Dirección inicial de la carga-->

      <div class="form-field col-lg-6">
        <input class="input-text" type="text" name="DireccionCarga" formControlName="DireccionCarga">
        <label for="DireccionCarga" class="label">Dirección inicial de la carga</label>
      </div>

      <!--Dirección final de la carga-->

      <div class="form-field col-lg-6">
        <input class="input-text" type="text" name="DireccionEntrega" formControlName="DireccionEntrega">
        <label for="DireccionEntrega" class="label">Dirección de entrega de la carga</label>
      </div>

      <!--Tipo de carga-->

      <div class="form-field col-lg-4">
        <select class="label-pablo" name="IdTipoCarga" formControlName="IdTipoCarga">
          <option value="" style="background: black;">Tipo de carga</option>
          <option style="background: black;">Pesada</option>
          <option style="background: black;">Ligera</option>
          <option style="background: black;">Vidrio</option>
        </select>
      </div>


      <!--Fecha final del servicio-->

      <div class="form-field col-lg-4">
        <input class="input-text" type="date" name="FechaFin" formControlName="FechaFin">
        <label for="FechaFin" class="label">Fecha a realizar el servicio</label>
      </div>

      <!--Precio del servicio-->

      <div class="form-field col-lg-4">
        <input class="input-text" type="number" name="Precio" formControlName="Precio">
        <label for="Precio" class="label">Precio a ofrecer por el servicio</label>
      </div>

      <!--Registrar-->


    </div>
    <div class="form-group" align="center">
      <a class="btn btn-white" href="servicios/vehiculos" style="color: blueviolet;"><i class="fa fa-save">Solicitar</i></a>
      <a class="btn btn-white" href="servicios/" style="color: blueviolet;"><i class="fa fa-arrow-circle-left">Volver</i></a>
    </div>
</form>


