<div class="row">
  <div class="col-md-4" align="center">
  <h1 style="color: rgba(151,0,255,1);">Listado Servicios</h1>
</div>
<div *ngIf="this.Rol === '1' || this.Rol === '3' && this.token !== null">
  <div class="col-md-4" align="center">
    <a href="servicios/pedir" class="btn-dark btn-lg btn-block text-center" >Pedir servicio</a>
    <hr>
  </div>
</div>
  <div class="scroll">

      <table>
  <thead>
    <tr>
      <th scope="col">Tipo de carga</th>
      <th scope="col">Dirección de la entrega</th>
      <th scope="col">Fecha fin</th>
      <th scope="col">Precio</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let servicio of gestionServicioService.listaServicios">
      <td class="text-center">{{servicio.DescripcionCarga}}</td>
      <td class="text-center">{{servicio.DireccionEntrega}}</td>
      <td class="text-center">{{servicio.FechaFin}}</td>
      <td class="text-center">{{servicio.PrecioServicio}}</td>
      <td class="text-center">{{servicio.Estado}}</td>
      <td class="text-center">
        <a href="conductores/detalle" style="color: rgb(255, 0, 0); margin:auto;"><i class="fa fa-times"></i></a>
        <a href="servicios/geolocalizacion" style="color: rgb(255, 255, 255)"><i class="fa fa-street-view"></i></a>
        <a href="servicios/detalle/{{servicio.IdServicio}}" style="color: rgb(255, 255, 255)"><i class="fa fa-eye"></i></a>
      </td>
    </tr>
  </tbody>
</table>

    </div>
</div>
