<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            style="background: linear-gradient(90deg, rgba(39,35,40,1) 50%, rgba(151,0,255,1) 100%);">
    <div class="sidebar-logo" style="background: linear-gradient(90deg, rgba(39,35,40,1) 50%, rgba(151,0,255,1) 100%);">
      <a href="" target="_blank" >
        <img src="assets/img/Icono Meraki.png" alt="logo">
        <h1>Meraki</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" style="background: linear-gradient(90deg, rgba(39,35,40,1) 50%, rgba(151,0,255,1) 100%);">
      <li nz-submenu nzOpen nzTitle="Inicio" nzIcon="dashboard" style="background: linear-gradient(90deg, rgba(39,35,40,1) 50%, rgba(151,0,255,1) 100%);">
        <ul style="background: linear-gradient(90deg, rgba(39,35,40,1) 50%, rgba(151,0,255,1) 100%);">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/usuarios">Usuarios</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/conductores">Conductores</a>
            <a>Propietarios</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/vehiculos">Vehiculos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/servicios">Servicios</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form" style="background: linear-gradient(90deg, rgba(39,35,40,1) 50%, rgba(151,0,255,1) 100%);">
        <ul style="background: linear-gradient(90deg, rgba(39,35,40,1) 50%, rgba(151,0,255,1) 100%);">
          <li nz-menu-item nzMatchRouter>
            <a>Vehículos</a>
          </li>
          <div *ngIf="this.token === null">
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/Inicio/Login">Login</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/Inicio/Registro">Registro</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/vehiculos">Sobre nosotros</a>
            </li>
          </div>
          <div *ngIf="this.Rol === '1' && this.token !== null">
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/usuarios">Usuarios</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/conductores">Conductores</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/vehiculos">Vehiculos</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/servicios">Servicios</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/usuarios/perfil">Ver perfil</a>
            </li>
          </div>
          <div *ngIf="this.Rol === '2' && this.token !== null">
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/vehiculos">Vehiculos</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/conductores">Conductores</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/usuarios/perfil">Ver perfil</a>
            </li>
          </div>
          <div *ngIf="this.Rol === '3' && this.token !== null">
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/conductores">Servicios</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/usuarios/perfil">Ver perfil</a>
            </li>
          </div>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>






















































































