<div class="row">
  <div class="col-md-6" align="center">
  <h1>Listado Usuarios</h1>
</div>
<div class="col-md-6" align="center">
  <a href="usuarios/registrar" class="btn-dark btn-lg btn-block text-center" >Registrar Usuario</a>
</div>
  <div class="scroll">

      <table>
  <thead>
    <tr>
      <th scope="col">Tipo de usuario</th>
      <th scope="col">Genero</th>
      <th scope="col">Dirección</th>
      <th scope="col">Nombres</th>
      <th scope="col">Tipo de documento</th>
      <th scope="col">Número de documento</th>
      <th scope="col">Editar</th>
      <th scope="col">Detalle</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of gestionUsuarioService.listaUsuarios">
      <td class="text-center">{{usuario.NombreRol}}</td>
      <td class="text-center">{{usuario.NombreGenero}}</td>
      <td class="text-center">{{usuario.Direccion}}</td>
      <td class="text-center">{{usuario.Nombre + ' ' + usuario.Apellido}}</td>
      <td class="text-center">{{usuario.NombreDoocumento}}</td>
      <td class="text-center">{{usuario.NumeroDocumento}}</td>
      <td class="text-center" ><a href="usuarios/editar/{{usuario.Id}}"><i class="fa fa-pencil-square-o" style="color: white;"></i></a></td>
      <td class="text-center" ><a href="usuarios/detalle/{{usuario.Id}}"><i class="fa fa-eye" style="color: white;"></i></a></td>

      <td *ngIf="usuario.IdEstadoUsuario == 1" class="text-center detalle">
        <button class="btn btn-outline-success" (click)="CambiarEstado(usuario.Id, usuario.IdEstadoUsuario)">
        {{ usuario.EstadoNombre }}</button>
      </td>

      <td *ngIf="usuario.IdEstadoUsuario == 2" class="text-center detalle">
        <button class="btn btn-outline-danger" (click)="CambiarEstado(usuario.Id,usuario.IdEstadoUsuario)">
          {{ usuario.EstadoNombre }} </button>
      </td>

    </tr>
  </tbody>
</table>

    </div>
</div>
