.get_in_touch{
	max-width: 800px;
	margin: -10px auto;
	position: relative;
	box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
	padding: initial;
}

.get_in_touch .title{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-size: 3em;
	line-height: 48px;
	margin-bottom: 10px;
	color: #5543ca;
	background: linear-gradient(50deg, rgba(151,0,255,1) 5%, rgb(0, 0, 0) 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.contact-form .form-field{
	position: relative;
	margin: 20px 0;
}

.contact-form .input-text{
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color: rgba(151,0,255,1);
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
	transform: translateY(-60px);
}
.contact-form .input-text:focus{
	outline: none;
}
.contact-form .label{
	position: auto;
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	cursor: text;
	text-transform: capitalize;
	transition: transform 0.2s ease-in-out;
}

.contact-form .label-pablo{
	position: auto;
  width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #fff;
	text-transform: capitalize;
	transition: transform 0.2s ease-in-out;
	background: linear-gradient(50deg, rgba(151,0,255,1) 5%, rgba(39,35,40,1) 50%);
}

button{
	display: inline-block;
	background: linear-gradient(50deg, rgba(151,0,255,1) 5%, rgba(39,35,40,1) 50%);
	color: #fff;
  font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	width: 200px;
	cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s linear;
  height: 50px;
}

button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
  0% {
      transform: translateY(3px);
  }
  100% {
      transform: translateY(5px);
  }
}

