<section class="get_in_touch">
  <h1 class="title">Formulario de Usuarios</h1>

  <div class="container">

    <div class="contact-form row">

      <div class="form-field col-lg-4">
        <input id="name" class="input-text" type="name" name="">
        <label for="name" class="label">Nombre de usuario</label>
      </div>

      <div class="form-field col-lg-4">
        <input id="password" class="input-text" type="password" name="">
        <label for="password" class="label">Contraseña</label>
      </div>

      <div class="form-field col-lg-4">
        <input id="barrio" class="input-text" type="number" name="">
        <label for="barrio" class="label">Número de documento</label>
      </div>

      <div class="form-field col-lg-4">
        <select class="label-pablo">
        <option value="">Tipo de documento</option>
        <option value="">Cédula de ciudadanía</option>
        <option value="">Pasaporte</option>
        </select>
      </div>

      <div class="form-field col-lg-4">
        <select class="label-pablo">
        <option value="">Tipo de usuario</option>
        <option value="">Cliente</option>
        <option value="">Propietario</option>
        </select>
      </div>

      <div class="form-field col-lg-4">
        <select class="label-pablo">
        <option value="">Genero</option>
        <option value="">Hombre</option>
        <option value="">Mujer</option>
        </select>
      </div>

      <div class="form-field col-lg-4">
        <input id="celular" class="input-text" type="text" name="">
        <label for="celular" class="label">Nombre</label>
      </div>

      <div class="form-field col-lg-4">
        <input id="celular" class="input-text" type="text" name="">
        <label for="celular" class="label">Apellido</label>
      </div>

       <div class="form-field col-lg-4">
        <input id="celular" class="input-text" type="email" name="">
        <label for="celular" class="label">Correo</label>
      </div>

      <div class="form-field col-lg-6">
        <input id="celular" class="input-text" type="text" name="">
        <label for="celular" class="label">Dirección</label>
      </div>

      <div class="form-field col-lg-6">
        <input id="celular" class="input-text" type="number" name="">
        <label for="celular" class="label">Celular</label>
      </div>

      <div class="form-field col-lg-12" align="center">
        <button class="submit-btn">Registrar</button>
      </div>
    </div>
  </div>
</section>
