  <div align="center">
    <h1 style="color: rgba(151,0,255,1);">Servicios pendientes por aceptar</h1>
  </div>
  <div class="scroll">

      <table>
  <thead>
    <tr>
      <th scope="col">Nombre del cliente</th>
      <th scope="col">Dirección inicial de la carga</th>
      <th scope="col">Dirección de la entrega</th>
      <th scope="col">Tipo de carga</th>
      <th scope="col">Precio</th>
      <th scope="col">Aceptar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">Ramiro cardona</td>
      <td class="text-center">Parque berrio</td>
      <td class="text-center">Parque de las luces</td>
      <td class="text-center">Pesada</td>
      <td class="text-center">$20000</td>
      <td class="text-center">
        <button type="button"><i class="fa fa-check" style="color: #00ff00;"></i></button>
      </td>
    </tr>
  </tbody>
</table>

    </div>
