<div class="container">
  <h1>Lista de vehiculos</h1>
  <h3><a href="vehiculos/crearVehiculo">Agregar vehiculo</a></h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor='let item of servicioVehiculo.listaVehiculos' >
      <div class="card h-100">
        <img src="assets/img/{{ item.FotoV }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Codigo: {{ item.CodigoV }}</h5>
          <p class="card-text">Marca: {{ item.NombreMarca }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cilindraje: {{ item.Cilindraje }}</li>
            <li class="list-group-item">Tipo Vehiculo: {{ item.Descripcion }}</li>
            <li class="list-group-item"><button class="btn btn-outline-info" (click)="CambiarEstado(item.CodigoV)">Cambiar estado</button> </li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="conductores/ListarConductoresVehiculos/{{ item.CodigoV }}" > Agregar conductor </a></small> &nbsp;
          <small class="text-muted"><a href="vehiculos/Editar/" > Editar vehiculo</a></small> &nbsp;
          <small class="text-muted"><a href="vehiculos/detalle/{{ item.CodigoV }}">Detalle vehiculo</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
