<div class="row">

  <div class="col-md-12" align="right">
    <a href="servicios/pedir"><i style="color: rgba(151,0,255,1);" class="fa fa-arrow-circle-left">Regresar</i></a>
  </div>
  <div class="col-md-12" align="center">
    <h1 style="color: rgba(151,0,255,1);">Vehículos disponibles para realizar su servicio</h1>
  </div>

    <div class="scroll">

        <table>
    <thead>
      <tr>
        <th>Tipo de vehículo</th>
        <th >Foto del vehículo</th>
        <th >Placa del vehículo</th>
        <th >Nombre del conductor</th>
        <th >Elegir</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor='let vehiculo of gestionServicioService.visualizarvehiculos'>
        <td>{{vehiculo.Descripcion}}</td>
        <td><img src="assets/img/{{vehiculo.FotoV}}"></td>
        <td>{{vehiculo.Placa}}</td>
        <td>{{vehiculo.NombreConductor}}</td>
        <td class="text-center">
          <button type="button" (click)="openFunciones(contenido, vehiculo.IdServicio, vehiculo.IdConductor)" ><i class="fa fa-check" style="color: #31d2f2;"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #contenido let-modal>
    <div class="modal-header">
      <h1 style="font-weight: 400;">Aquí podrá asignar el vehículo a su servicio</h1>
      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngFor='let conductor of gestionServicioService.visualizarconductor'>
      <strong><img src="assets/img/{{conductor.FotoConductor}}" class="card-title text-center"></strong>
      <br><br>
      <strong>Nombre del conductor<h5 class="card-title text-center">{{conductor.NombreConductor}}</h5></strong>
      <br>
      <strong>Fecha desde la que trabaja<h5 class="card-title text-center">{{conductor.FechaInicio}}</h5></strong>
      <br>
      <strong>Celular<h5 class="card-title text-center">{{conductor.IdInfo}}</h5></strong>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="openAsignar(conductor.IdInfo)">Asignar!</button>
      </div>
    </div>

  </ng-template>


  </div>
</div>
